
.DS_Store
*.xcuserstate
src/xcode/MRNBike/SupportingFiles/Credentials.json

src/xcode/MRNBike.xcodeproj/xcuserdata/huyen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

src/xcode/MRNBike.xcodeproj/xcuserdata/huyen.xcuserdatad/xcschemes/MRNBike.xcscheme

src/xcode/MRNBike.xcodeproj/xcuserdata/huyen.xcuserdatad/xcschemes/xcschememanagement.plist
