<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yellow</key>
	<string>#f0ab00</string>
	<key>red</key>
	<string>#FF6666</string>
	<key>green</key>
	<string>#336600</string>
	<key>backend base url</key>
	<string>https://h10-d03.ucc.ovgu.de/gbi-student-030/</string>
	<key>allow location pause</key>
	<true/>
	<key>zoom level</key>
	<string>0.02</string>
	<key>distance filter</key>
	<string>10.0</string>
</dict>
</plist>
